*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color:white;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;

}
.elem{
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.elem h1{
    font-size: 100px;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}
.elem img{
    height:110px;
    width: 110px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
   
    opacity: 0;
   
    transition: all linear 0s;
}